.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-family: 'Lato', sans-serif;
  color: lightgray;
}

#navBar, #portNavBar
{
  position: sticky;
  z-index: 2;
  padding-top: 0px;
  background-color: red;
}

#floatingArticleImage
{
  float: middle;
}

#allContent
{
  padding-top: 5px;
}

#paralax
{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FCQaZc3jhUfRkI%2Fgiphy.gif&f=1&nofb=1");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #article
{

} */

.card
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container 
{
  padding: 2px 16px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: lightgray;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: cyan;
  transform: rotateY(180deg);
}

body 
{
  background-color: darkgray;
}

h1.splash
{
  color: slategray;
  margin-left: 20px;
}

h2.follow-mouse-x
{
  position: absolute;
}

#title-card
{
  color: darkslategray;
}

.title-card
{
  color: darkslategray;
}

@media only screen and (max-width: 767px)
       {
            img.imgLeft
            {
                 float: left; margin-right: 15px; margin-right: 15px; width: 100%; height: calc(width*2 +(width/3));
            }
            img.imgRight
            {
                 float: right; margin-right: 15px; margin-left: 15px; width: 100%; height: calc(width*2 +(width/3));
            }
       }
       
       @media only screen and (max-width: 1000px)
       {
            img.imgLeft
            {
                 float: left; margin-right: 15px; margin-right: 15px; width: 60%; height: calc(width*2 +(width/3));
            }
            img.imgRight
            {
                 float: right; margin-right: 15px; margin-left: 15px; width: 60%; height: calc(width*2 +(width/3));
            }
       }

       @media only screen and (max-width: 1095px)
       {
            img.imgLeft
            {
                 float: left; margin-right: 15px; margin-right: 15px; width: 40%; height: calc(width*2 +(width/3));
            }
            img.imgRight
            {
                 float: right; margin-right: 15px; margin-left: 15px; width: 40%; height: calc(width*2 +(width/3));
            }
       }
       @media only screen and (min-width: 1096px)
       {
            img.imgLeft
            {
                 float: left; margin-right: 15px; margin-right: 15px; width: 20%; height: calc(width*2 +(width/3));
            }
            img.imgRight
            {
                 float: right; margin-right: 15px; margin-left: 15px; width: 0%; height: calc(width*2 +(width/3));
            }
       }